  @-webkit-keyframes Background {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }

  @-moz-keyframes Background {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }

  @keyframes Background {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }

  .full-screen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(assets/background.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    /* works with row or column */

    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
  }

  h1 {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 4em;
    letter-spacing: -2px;
    text-align: center;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
  }

  h2 {
    color: #fff;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-weight: 800;
    font-size: 4em;
    letter-spacing: -2px;
    text-align: center;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
  }

  h3 {
    color: #fff;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-weight: 800;
    font-size: 2em;
    letter-spacing: -2px;
    text-align: center;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
  }

  .button-line {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    font-size: 1.4em;
    opacity: .8;
    padding: 20px 40px;
    text-decoration: none;
    transition: all .5s ease;
    margin: 0 auto;
    display: block;
    width: 270px;
  }

  .button-line:hover {
    opacity: 1;
  }


  /* Footer */

  .button-line-mini {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    font-size: 1.4em;
    opacity: .8;
    padding: 15px 30px;
    text-decoration: none;
    transition: all .5s ease;
    margin: 0 auto;
    display: block;
    width: 150px;
  }

  .button-line-mini:hover {
    opacity: 1;
  }

  #outer
  {
    width:100%;
    text-align: center;
  }

  .inner
  {
    display: inline-block;
  }

  /* .toto {
    display: grid;
    grid-template-columns: repeat(2, 30px);
  }

  .titi {
    display: flex;
    flex-direction: column;
  } */

  .coco {
    margin: 2em;
  }
  .gogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
  }
  .soso {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .what {
    width: 16em;
    display: flex;
    align-items: center;
  }
  .dodo{
    font-size: 1em;
  }

  input {
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 1em;
    border-radius: 2em;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: .5em;
    text-decoration: none;
    color: #fff;
  }
  input::file-selector-button {
    padding: 1em;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 1em;
    border-radius: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
  }
